backports-abc==0.4
certifi==2016.2.28
cycler==0.10.0
decorator==4.0.9
ipython
ipython-genutils==0.1.0
matplotlib
numpy
pandas
pathlib2==2.1.0
pickleshare==0.7.2
pyparsing==2.1.2
python-dateutil==2.5.3
pytz==2016.4
pyzmq==15.2.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
traitlets==4.2.1
notebook
lxml
xlrd
requests
pyreadline
pymongo
pandoc
statsmodels
seaborn
scipy